Ecrire Bilan Patrimonial.json
{
  "name": "Ecrire Bilan Patrimonial",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "channel"
            },
            {
              "name": "mode"
            }
          ]
        }
      },
      "id": "b77e7274-d259-46a9-9d41-2f32f748b006",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.fileId }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain; charset=utf-8",
        "body": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -96
      ],
      "id": "27f2c483-03c9-4534-bd8a-aca16d3341d7",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4YnA7yrrAHy91dF0",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1192ea3-d4ed-4577-accc-93ce8c2cec54",
              "name": "message",
              "value": "={{ $('If').item.json.message }}",
              "type": "string"
            },
            {
              "id": "b9af4b23-bde6-4a83-8009-8f117aa21bab",
              "name": "success",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -112
      ],
      "id": "1825ce06-b7fe-4867-a4a5-ee8a57230ce8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"temperature\": 0.1,\n  \"top_p\": 1,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.system_prompt.replaceAll(\"\\n\", \"\\\\n\") }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.user_prompt.replaceAll(\"\\n\", \"\\\\n\") }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        80
      ],
      "id": "1a9ed962-d432-4c40-b994-bb512d2b8f53",
      "name": "HTTP Request1",
      "credentials": {
        "openRouterApi": {
          "id": "Y0oCUTxc6VY6U6zO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const start = $('Start').item;\nconst previous = $('Lire Bilan Patrimonial').item.json.data;\nconst updated = $json.choices[0].message.content;\nconst now = $('Prepare Query').item.json.now;\n\n// On découpe par expression régulière pour gérer tous les types de sauts de ligne\n// .filter(line => line.trim() !== \"\") est optionnel : \n// gardez-le si vous voulez ignorer les lignes vides.\nconst lineCountPrevious = previous.split(/\\r\\n|\\r|\\n/).length;\nconst lineCountUpdated = updated.split(/\\r\\n|\\r|\\n/).length;\nconst delta = (lineCountUpdated - lineCountPrevious);\nconst success = delta > -3;\nconst message = success ? `✅ Bilan sauvegardé le ${now} - ${lineCountUpdated} lines` :  `❌ Erreur de construction du bilan consolidé ! (${delta} lines)`;\n\nreturn {\n  \"message\": message,\n  \"sessionId\": start.json.sessionId,\n  \"channel\": start.json.channel || \"telegram\",\n  \"mode\": start.json.mode || \"text\",\n  \"data\": updated,\n  \"success\": success,\n  \"fileId\": $('Lire Bilan Patrimonial').item.json.fileId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ],
      "id": "f44f5c81-5529-407a-8e7c-a41a37932648",
      "name": "Contrôle Cohérence"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2320,
        96
      ],
      "id": "b8a584a6-4d43-4c61-8a4e-f77474cbab6d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VVGWJn8gLzg5iDoo",
          "mode": "list",
          "cachedResultUrl": "/workflow/VVGWJn8gLzg5iDoo",
          "cachedResultName": "Lire Bilan Patrimonial"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "channel": "={{ $json.channel }}",
            "mode": "={{ $json.mode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        80
      ],
      "id": "d2e65b83-1912-4964-8846-4b09a8932a11",
      "name": "Lire Bilan Patrimonial"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sGTaSgihnH44JKvz",
          "mode": "list",
          "cachedResultUrl": "/workflow/sGTaSgihnH44JKvz",
          "cachedResultName": "Lire Template"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Start').item.json.sessionId }}",
            "mode": "={{ $('Start').item.json.mode }}",
            "channel": "={{ $('Start').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "app",
              "displayName": "app",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        80
      ],
      "id": "cdb2ef1c-13c2-4a31-ab9d-6f475ce87702",
      "name": "Lire Template"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7dd6c249-6efa-4aa1-ad28-a96ee1fabbdb",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        80
      ],
      "id": "03557914-1e0b-4f1a-9adc-719f77f56f16",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42a94c11-9e7f-4c64-8809-f3c4b6577102",
              "name": "message",
              "value": "❌ Erreur de sauvegarde du bilan consolidé !",
              "type": "string"
            },
            {
              "id": "faed0ba0-2b79-4932-b58e-2fa7137dea7f",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        32
      ],
      "id": "915c3686-e4a4-4b9c-8b83-b205660a5da7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "114d2464-786d-45b8-a025-7611f8eb553b",
              "name": "model",
              "value": "google/gemini-2.5-flash",
              "type": "string"
            },
            {
              "id": "ac0a2dab-e5d8-4e70-9113-f0f0852397e5",
              "name": "system_prompt",
              "value": "Tu es un expert en gestion de patrimoine spécialisé dans la rédaction de rapports.\n\nTA MISSION : Fusionner un 'BILAN EXISTANT' avec de nouvelles 'MODIFICATIONS', en utilisant la structure du 'TEMPLATE DE RÉFÉRENCE'.\n\nRÈGLES CRITIQUES :\n\nPriorité à la donnée : Ne supprime AUCUNE information du 'BILAN EXISTANT' sauf si une Modification demande explicitement de la supprimer ou de la remplacer.\n\nRespect du format : Utilise rigoureusement les titres, sous-titres et la mise en page Markdown du 'TEMPLATE DE RÉFÉRENCE'.\n\nComplétude : Si une section du Template est absente du Bilan, affiche la (vide ou avec la mention 'Néant').\n\nIntégration intelligente : Insère les Modifications aux endroits logiques du document selon le contexte.\n\nSORTIE : Produis uniquement le document Markdown final. Pas d'introduction, pas de conclusion, pas de commentaires.",
              "type": "string"
            },
            {
              "id": "7a601d92-e356-45f0-ba89-771766490376",
              "name": "user_prompt",
              "value": "=### SOURCES DE DONNÉES\n\n[SOURCE A] BILAN EXISTANT (Contenu à conserver en priorité) :\n{{ $('Lire Bilan Patrimonial').item.json.data.replaceAll(\"\\n\", \"\\\\n\") }}\n\n[SOURCE B] MODIFICATIONS (à appliquer au bilan existant) :\n{{ $('Start').item.json.query.replaceAll(\"\\n\", \"\\\\n\") }}\n\n[STRUCTURE C] TEMPLATE DE RÉFÉRENCE (Mise en forme cible) :\n{{ $json.data.replaceAll(\"\\n\", \"\\\\n\") }}\n\nINSTRUCTION FINALE : Rédige le nouveau bilan en injectant le contenu de [SOURCE A] et [SOURCE B] dans le moule de [STRUCTURE C]. Si [SOURCE A] contient des détails qui ne sont pas explicitement prévus dans [STRUCTURE C], conserve-les en les plaçant dans la section la plus pertinente.\n\nMaintenant : {{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "e95f5a91-086f-4741-aeb1-c132dc820340",
              "name": "now",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        80
      ],
      "id": "970e4b67-331c-429f-ad0c-3de4bb0ce0b1",
      "name": "Prepare Query"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "adZfi8AJiWVXwWw4",
          "mode": "list",
          "cachedResultUrl": "/workflow/adZfi8AJiWVXwWw4",
          "cachedResultName": "Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Start').item.json.sessionId }}",
            "message": "={{ $json.message }}",
            "mode": "={{ $('Start').item.json.mode }}",
            "channel": "={{ $('Start').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2096,
        96
      ],
      "id": "15e0966d-b7b1-475d-bd8b-7e1589b86418",
      "name": "Send Message"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "query": "Adapte le bilan actuel au format proposé par le template",
          "sessionId": "675075831",
          "channel": "telegram",
          "mode": "text"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Lire Bilan Patrimonial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Contrôle Cohérence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contrôle Cohérence": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Bilan Patrimonial": {
      "main": [
        [
          {
            "node": "Lire Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Template": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60,
    "errorWorkflow": "5V46L7csAX91UXTG"
  },
  "versionId": "b7f4f2b1-4880-4818-a64f-d56d339eac0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75335dac70fa104cdfa4e5bcad8ca1a7f24e416f2c27d9320d1d92c6508398a5"
  },
  "id": "U0heCwonMwwLwYpE",
  "tags": []
}