Family office.json
{
  "name": "Family office",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        432
      ],
      "id": "a7cdceef-e28b-49a4-9036-e6d338db7ab1",
      "name": "Telegram Trigger",
      "webhookId": "fcfe774c-681b-4705-bec1-277144c85a55",
      "credentials": {
        "telegramApi": {
          "id": "P24vC78CqEtXxfwi",
          "name": "Telegram account fo manager"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Date du jour : {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n{{ $('Rename Keys').item.json.query  }}",
        "options": {
          "systemMessage": "# Prompt Family Office Manager — v15.0\n\n## INSTRUCTION CRITIQUE — PRIORITÉ ABSOLUE\n\n**Action immédiate requise avant tout autre traitement :**\n\nAPPELLE L'OUTIL `Lire_Bilan_Patrimonial` MAINTENANT.\n\n- Tu n'as pas le droit de saluer le client avant d'avoir lu le bilan.\n- Tu n'as pas le droit de poser une question avant d'avoir lu le bilan.\n- Tu n'as pas le droit de produire la moindre réponse avant d'avoir lu le bilan.\n\nUne fois le bilan lu, détermine son état en lisant le champ `**Dernière mise à jour**` :\n\n- Valeur `—` → bilan vierge → applique le **Protocole A**\n- Date antérieure à aujourd'hui → bilan non vérifié aujourd'hui → applique le **Protocole B**\n- Date égale à aujourd'hui → bilan déjà vérifié aujourd'hui → applique le **Protocole C**\n\nCette règle s'applique à chaque message reçu, sans exception.\n\n### Règle 2 — Toute modification du bilan passe par l'Ingénieur Patrimonial\n\n**Dès que le client fournit une information qui modifie le bilan** (montant, situation, actif, prénom, préférence, tolérance au risque, etc.) :\n\nMANDATE L'OUTIL `Ingénieur_Patrimonial` MAINTENANT avec le contenu actuel du bilan et la modification à intégrer.\n\n- Tu n'as pas le droit de répondre au client avant d'avoir appelé `Ingénieur_Patrimonial`.\n- Tu n'as pas le droit d'annoncer une mise à jour sans avoir reçu la confirmation de l'Ingénieur Patrimonial contenant \"Bilan sauvegardé\".\n- Si la confirmation indique un nombre de lignes anormalement faible (< 50 lignes) → signale une anomalie et mandate à nouveau l'Ingénieur Patrimonial.\n\nCette règle s'applique même pour les modifications mineures.\n\n### Règle 3 — Les questionnaires de collecte sont délégués en totalité à l'Ingénieur Patrimonial\n\n**Dès que le client demande une mise à jour d'une section entière du bilan** (Profil Investisseur, Situation Personnelle, Actifs Financiers, etc.) :\n\nMANDATE L'OUTIL `Ingénieur_Patrimonial` MAINTENANT avec le contenu actuel du bilan et l'instruction de mener le questionnaire complet de la section concernée.\n\n- Tu n'as pas le droit de poser toi-même les questions du questionnaire.\n- Tu n'as pas le droit de collecter les réponses toi-même.\n- L'Ingénieur Patrimonial gère l'intégralité du questionnaire — tu reprends la main uniquement quand il a confirmé avec \"Bilan sauvegardé\".\n\n---\n\n## 1. Identité & Mission\n\nTu es un conseiller patrimonial privé. Tu es l'unique point de contact du client et le garant de la cohérence de son patrimoine.\n\nTa mission : orchestrer l'intervention des experts, synthétiser leurs analyses et guider le client vers des décisions concrètes.\n\n> **RÈGLE ABSOLUE** : Tu ne produis jamais de réponse technique par toi-même. Toute question touchant à la fiscalité, au droit, à l'immobilier, à l'investissement ou au patrimoine est traitée par l'expert compétent. Enfreindre cette règle est une faute professionnelle.\n\n---\n\n## 2. Protocoles d'Ouverture de Session\n\n### Protocole A — Bilan vierge (`Dernière mise à jour` = `—`)\n\nMandate `Ingénieur_Patrimonial` pour démarrer la collecte en lui transmettant le contenu du bilan vierge.\n\n_\"Bonjour ! Je suis votre conseiller patrimonial privé. Pour commencer à vous conseiller efficacement, je vais dresser votre bilan patrimonial. Commençons : quel est votre régime matrimonial ?\"_\n\n### Protocole B — Bilan existant, non vérifié aujourd'hui\n\nRésume le bilan en 3-4 lignes, puis présente aléatoirement un **sous-ensemble de données détaillées** issu des sections marquées `✅ Complète` ou `🔄 Partiellement renseignée`, en choisissant parmi :\n\n- **Assurance Vie** → liste chaque contrat : assureur, valorisation, bénéficiaires\n- **PER** → liste chaque contrat : gestionnaire, valorisation, mode de sortie\n- **Immobilier locatif** → liste chaque bien : localisation, valeur actuelle, loyer, CRD\n- **Immobilier d'usage** → liste chaque bien : localisation, valeur actuelle\n- **CTO** → encours par compte et PV latentes\n- **Liquidités** → solde par compte\n- **Passif** → liste chaque crédit : bien associé, CRD, taux, échéance\n\nFormat de présentation pour Telegram (pas de tableau) :\n_\"Bonjour ! Voici où nous en étions le [DATE] :_\n\\*• Patrimoine net : **X €\\***\n_• Principaux actifs : [liste courte]_\n_• Point de vigilance : [si applicable]_\n\n_Vérifions ensemble vos [AV / PER / biens immobiliers / etc.] :_\n_— [Contrat/Bien 1] : [valeur clé 1], [valeur clé 2]_\n_— [Contrat/Bien 2] : [valeur clé 1], [valeur clé 2]_\n_— ..._\n\n_Ces informations sont-elles toujours à jour ?\"_\n\nSi évolution → mandate `Ingénieur_Patrimonial` avec le contenu actuel du bilan et les modifications à intégrer.\nSi tout est correct → traite la demande du client directement.\n\n### Protocole C — Bilan déjà vérifié aujourd'hui\n\nTraite directement la demande du client sans formule d'accueil répétée ni question de mise à jour.\n\n> **RÈGLE** : Le \"Bonjour\" est réservé à l'ouverture de session (Protocoles A et B). Il ne doit jamais apparaître en cours de conversation ou en réponse à une question technique.\n\n---\n\n## 3. Équipe d'Experts\n\nTu mandates via leurs outils en transmettant toujours le contenu du bilan en contexte :\n\n- 🏗️ `Ingénieur_Patrimonial` : toute mise à jour du bilan, questionnaires de collecte, diagnostic patrimonial global, structuration (SCI, Holding, démembrement). **Seul expert autorisé à modifier et sauvegarder le bilan.**\n- 🏠 `Expert_Immobilier` : valeur vénale, rentabilité locative, travaux, plus-value, opportunités d'acquisition ou d'arbitrage\n- ⚖️ `Fiscaliste` : optimisation IR, IFI, revenus fonciers, plus-values, défiscalisation\n- 🖋️ `Notaire` : succession, donation, régimes matrimoniaux, démembrement civil, transmission\n- 📊 `Conseiller_Investissements` : allocation d'actifs, supports financiers (ETF, PEA, AV, PER, SCPI)\n\n> **Règles de coordination** :\n>\n> - Question immobilier + fiscalité → `Expert_Immobilier` d'abord, puis `Fiscaliste`\n> - Toute modification du bilan, même mineure → `Ingénieur_Patrimonial`\n\nAnnonce avant chaque appel d'expert : _\"Je sollicite l'avis de notre [Expert] sur ce point.\"_\n\n> **RÈGLE DE TRANSMISSION DES RÉPONSES** : Quand un expert retourne une réponse — qu'elle soit une recommandation finale ou une demande de précision au client — tu la transmets INTÉGRALEMENT au client sans la modifier, la résumer ni la reformuler. Tu ne relances jamais l'expert sans avoir d'abord présenté sa réponse au client et attendu sa réaction.\n\n> **RÈGLE DE TRANSMISSION DU BILAN** : Quand tu mandates un expert, tu lui transmets le contenu **intégral et littéral** du bilan patrimonial tel que retourné par `Lire_Bilan_Patrimonial` — sans résumer, sans reformuler, sans sélectionner les sections \"pertinentes\". Le bilan doit être transmis en totalité, caractère par caractère. Un expert qui reçoit un résumé émettra des hypothèses dont les réponses sont déjà dans le bilan — c'est un comportement inacceptable.\n\n---\n\n## 4. Synthèse Décisionnelle\n\n**📋 SYNTHÈSE — [Sujet en 5 mots max]**\n\n**Situation** : rappel des faits issus du bilan\n**Analyses experts** : croisement des avis (émoji identificateur par expert)\n**Actions** : 1 à 3 étapes concrètes, priorisées\n**Statut bilan** : ✅ Bilan sauvegardé le [DATE] — uniquement après réception de la confirmation \"Bilan sauvegardé\" de `Ingénieur_Patrimonial` — sinon ⚠️ Bilan NON sauvegardé\n\n---\n\n## 5. Règles de Communication (Telegram)\n\n- Phrases courtes, 4 lignes max par paragraphe\n- Chiffres clés en gras\n- Ne pose jamais plus d'une question à la fois\n- Si tu attends une information, dis-le explicitement\n- Pas de tableaux (illisibles sur mobile)\n- Ne répète jamais une formule d'accueil en cours de conversation",
          "maxIterations": 15,
          "returnIntermediateSteps": true
        }
      },
      "id": "e8672bac-58f5-4ab2-8c8b-30d693c4b176",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Family Office Manager",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "creator": "Lucas Peyrin",
      "position": [
        2656,
        208
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aadc69cc-8005-410e-a2a3-fbec0778265c",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "78e57aad-318c-4002-88ad-218d2ba808cf",
              "name": "from",
              "value": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }} ({{ $json.message.from.id }})",
              "type": "string"
            },
            {
              "id": "83db7957-87a4-4960-89ff-6d037b0f9cbb",
              "name": "query",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "33eea37c-f1a1-4963-b370-467b2f065b80",
              "name": "mode",
              "value": "text",
              "type": "string"
            },
            {
              "id": "f0f371ed-cbe5-45c4-b12a-5ca7b510fbf4",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        448
      ],
      "id": "ab131250-525e-4cf0-96fd-ab6e3297193e",
      "name": "Edit Telegram Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2336,
        432
      ],
      "id": "d73ae583-1513-4be4-aa3a-3f3aae877c82",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        784,
        -96
      ],
      "id": "ce20af5b-b24a-4c5c-95ce-f6acf9a0bef6",
      "name": "When chat message received",
      "webhookId": "6658f681-ef18-40cd-8d31-bd13e48903d8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2b8cb6e-0509-40e2-9260-63ee2f415eb7",
              "name": "app",
              "value": "chat",
              "type": "string"
            },
            {
              "id": "aadc69cc-8005-410e-a2a3-fbec0778265c",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "78e57aad-318c-4002-88ad-218d2ba808cf",
              "name": "from",
              "value": "n8n",
              "type": "string"
            },
            {
              "id": "83db7957-87a4-4960-89ff-6d037b0f9cbb",
              "name": "query",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "3eb9e897-f48e-46fa-b3b4-68e23bfcbd72",
              "name": "channel",
              "value": "chat",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -96
      ],
      "id": "674bd061-067b-44d7-9b15-4f2ce3d5fc28",
      "name": "Edit Chat Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2b8cb6e-0509-40e2-9260-63ee2f415eb7",
              "name": "app",
              "value": "slack",
              "type": "string"
            },
            {
              "id": "aadc69cc-8005-410e-a2a3-fbec0778265c",
              "name": "sessionId",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "78e57aad-318c-4002-88ad-218d2ba808cf",
              "name": "from",
              "value": "={{ $json.user }}",
              "type": "string"
            },
            {
              "id": "83db7957-87a4-4960-89ff-6d037b0f9cbb",
              "name": "query",
              "value": "={{ $json.blocks[0].elements[0].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "41252997-f667-41dc-a0bb-77369a189363",
              "name": "channel",
              "value": "slack",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        96
      ],
      "id": "70851cb2-f86a-4217-a674-b9da0d1b6c78",
      "name": "Edit Slack Fields"
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        784,
        96
      ],
      "id": "4497e901-5c37-47e1-aa51-02f5f895d76b",
      "name": "Slack Trigger1",
      "webhookId": "c7052f0a-3302-4f04-80dc-da2bafe23390",
      "credentials": {
        "slackApi": {
          "id": "ii3JkLACMVd1Fyii",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1456,
        0
      ],
      "id": "308d75bc-5998-49fa-acae-71c2ca74824c",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "fileContent": "={{ $json.data }}",
        "name": "={{ $('Rename Keys').item.json.sessionId }}.md",
        "options": {}
      },
      "name": "Create Bilan",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "id": "bd0c6ca4-d127-47b6-bca9-0ac5ce1fa4e0",
      "position": [
        1888,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4YnA7yrrAHy91dF0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "session_id": "={{ $('Rename Keys').item.json.sessionId }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2112,
        0
      ],
      "id": "bdc6d2b4-02c4-4285-bc5c-843ee23c3d49",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1456,
        192
      ],
      "id": "3db73c23-52ce-4cd2-bd11-053572e55a88",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2112,
        192
      ],
      "id": "4602494f-91c9-42b0-a9da-15c78ccfa4ff",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcc412d7-3fd1-4470-a02b-1850e51d1f93",
              "name": "message",
              "value": "=Votre requête :\n{{ $('Rename Keys').item.json.query }}\n\nJe traite votre demande...",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3216,
        80
      ],
      "id": "770ea6ff-8f4e-4926-a29f-333706611bc6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "adZfi8AJiWVXwWw4",
          "mode": "list",
          "cachedResultUrl": "/workflow/adZfi8AJiWVXwWw4",
          "cachedResultName": "Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.message  }}",
            "sessionId": "={{ $('Rename Keys').item.json.sessionId }}",
            "mode": "={{ $('Rename Keys').item.json.mode }}",
            "channel": "={{ $('Rename Keys').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3440,
        80
      ],
      "id": "cef2d568-83e4-4408-987e-39ce64393202",
      "name": "Call 'Send Message'"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "output",
              "newKey": "message"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3216,
        208
      ],
      "id": "d3e393a8-3cbd-4d86-941c-ebb62efb3c98",
      "name": "Rename Keys3"
    },
    {
      "parameters": {
        "description": "Indispensable pour toutes les questions de succession, donations, protection du conjoint, rédaction de clauses bénéficiaires, démembrement de propriété (usufruit/nue-propriété) et organisation civile du patrimoine familial.",
        "workflowId": {
          "__rl": true,
          "value": "7UjKb87El6kaDgVz",
          "mode": "list",
          "cachedResultUrl": "/workflow/7UjKb87El6kaDgVz",
          "cachedResultName": "Notaire"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Rename Keys1').item.json.session_id }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "mode": "={{ $('Rename Keys1').item.json.mode }}",
            "channel": "={{ $('Rename Keys1').item.json.channel }}",
            "bilan_patrimonial": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bilan_patrimonial', `Contenu complet du bilan patrimonial au format markdown. \nTransmettre l'intégralité du bilan, pas uniquement un résumé.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bilan_patrimonial",
              "displayName": "bilan_patrimonial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3184,
        432
      ],
      "id": "8c8934aa-fadf-43d0-8ccb-81186860e192",
      "name": "Notaire"
    },
    {
      "parameters": {
        "description": "Expert Immobilier — 5 domaines de compétence distincts des autres experts : valeur vénale, rentabilité locative, travaux (avec fourchettes de coût), plus-value et opportunités d'acquisition. Le prompt inclut une règle explicite de coordination — il renvoie au Fiscaliste pour la fiscalité foncière et au Notaire pour le juridique, évitant les chevauchements.",
        "workflowId": {
          "__rl": true,
          "value": "Wr9ofJmDyqSCufi0",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wr9ofJmDyqSCufi0",
          "cachedResultName": "Expert Immobilier"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Rename Keys1').item.json.session_id }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "bilan_context": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bilan_context', `Contenu complet du bilan patrimonial au format markdown. \nTransmettre l'intégralité du bilan, pas uniquement un résumé.`, 'string') }}",
            "app": "={{ $('Rename Keys').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "app",
              "displayName": "app",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bilan_context",
              "displayName": "bilan_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3328,
        432
      ],
      "id": "dd513541-3aa5-4a41-87a0-5bff3fddacea",
      "name": "Expert_Immobilier"
    },
    {
      "parameters": {
        "description": "Appelle cet outil EN PREMIER avant toute réponse au client. \nRetourne le contenu complet du bilan patrimonial au format \nmarkdown. Ne jamais répondre au client sans avoir appelé \ncet outil au préalable.",
        "workflowId": {
          "__rl": true,
          "value": "VVGWJn8gLzg5iDoo",
          "mode": "list",
          "cachedResultUrl": "/workflow/VVGWJn8gLzg5iDoo",
          "cachedResultName": "Lire Bilan Patrimonial"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $('Rename Keys1').item.json.file_id }}",
            "app": "={{ $('Rename Keys').item.json.channel }}",
            "sessionId": "={{ $('Rename Keys').item.json.session_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "app",
              "displayName": "app",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2544,
        432
      ],
      "id": "d293f1fb-00c2-473a-ae2f-2170b717ebbc",
      "name": "Lire_Bilan_Patrimonial"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {
          "maxTokens": 8192,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2208,
        432
      ],
      "id": "1406ed76-ac7e-42ff-852c-ffed81ed2d3a",
      "name": "OpenRouter Chat Model",
      "retryOnFail": true,
      "credentials": {
        "openRouterApi": {
          "id": "Y0oCUTxc6VY6U6zO",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Indispensable pour l'optimisation de l'impôt sur le revenu (IR), la gestion de l'IFI, les stratégies de défiscalisation, l'arbitrage IS/IR, et la sécurisation des déclarations fiscales complexes.",
        "workflowId": {
          "__rl": true,
          "value": "QuE2I2n7wY4BOU47",
          "mode": "list",
          "cachedResultUrl": "/workflow/QuE2I2n7wY4BOU47",
          "cachedResultName": "Fiscaliste"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Rename Keys1').item.json.session_id }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "bilan_patrimonial": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bilan_patrimonial', `Contenu complet du bilan patrimonial au format markdown. \nTransmettre l'intégralité du bilan, pas uniquement un résumé.`, 'string') }}",
            "channel": "={{ $('Rename Keys1').item.json.channel }}",
            "mode": "={{ $('Rename Keys1').item.json.mode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bilan_patrimonial",
              "displayName": "bilan_patrimonial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3040,
        432
      ],
      "id": "430445d9-d6e8-467c-83eb-1e2eddd3e28a",
      "name": "Fiscaliste"
    },
    {
      "parameters": {
        "description": "Indispensable pour définir la stratégie d'investissement, la répartition entre classes d'actifs, le choix des supports (Assurance-vie, PEA, CTO), l'analyse du risque et l'optimisation des frais de gestion.",
        "workflowId": {
          "__rl": true,
          "value": "vvvieXiwIqG00zyr",
          "mode": "list",
          "cachedResultUrl": "/workflow/vvvieXiwIqG00zyr",
          "cachedResultName": "Conseiller en Investissements"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Rename Keys1').item.json.session_id }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "channel": "={{ $('Rename Keys').item.json.channel }}",
            "mode": "={{ $('Rename Keys').item.json.mode }}",
            "bilan_patrimonial": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bilan_patrimonial', `Contenu complet du bilan patrimonial au format markdown. \nTransmettre l'intégralité du bilan, pas uniquement un résumé.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bilan_patrimonial",
              "displayName": "bilan_patrimonial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2896,
        432
      ],
      "id": "4c3aca5b-2c87-449d-96d4-de3690e3a7e1",
      "name": "Conseiller_Investissements"
    },
    {
      "parameters": {
        "description": "L'ingénieur patrimonial est responsable du Bilan Patrimonial, il le lit, il peut le fournir en cas de besoin, il enregistre les mises à jour, et il même les questionnaires avec l'utilisateur pour le constituer.",
        "workflowId": {
          "__rl": true,
          "value": "TR02BKSCi9ynj8LB",
          "mode": "list",
          "cachedResultUrl": "/workflow/TR02BKSCi9ynj8LB",
          "cachedResultName": "Ingénieur Patrimonial"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Rename Keys1').item.json.session_id }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "file_id": "={{ $('Rename Keys1').item.json.file_id }}",
            "app": "={{ $('Rename Keys').item.json.app }}",
            "mode": "={{ $('Rename Keys').item.json.mode }}",
            "channel": "={{ $('Rename Keys').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "app",
              "displayName": "app",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2720,
        432
      ],
      "id": "3f8e3fd8-d708-4aa7-b0d5-def5ec10a75a",
      "name": "Ingénieur_Patrimonial"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1248,
        96
      ],
      "id": "5335d1a9-54ad-462b-9107-a35ce4ba6da8",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a3d76a3-bce7-4c7e-9527-f3fd5d455762",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        432
      ],
      "id": "eaeeee31-7bee-4fec-93db-18ad4abbe024",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        272
      ],
      "id": "eed013b0-d1fa-45f0-a6b9-3a5fde633a62",
      "name": "Get a file",
      "webhookId": "b68f2b62-1cea-45a9-b814-8f919f01bbdf",
      "credentials": {
        "telegramApi": {
          "id": "P24vC78CqEtXxfwi",
          "name": "Telegram account fo manager"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "audioBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        368,
        272
      ],
      "id": "246e80ac-1cfb-4446-9778-71d1229aab15",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_audio\",\n          \"input_audio\": {\n            \"data\": \"{{ $json.audioBase64 }}\",\n            \"format\": \"ogg\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Transcris exactement ce qui est dit dans cet audio, mot pour mot, sans ajouter de commentaire ni de réponse. Retourne uniquement la transcription brute en français.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        272
      ],
      "id": "ef65a161-f98e-4e32-8f39-c6a42db8509f",
      "name": "Transcript Audio",
      "credentials": {
        "openRouterApi": {
          "id": "Y0oCUTxc6VY6U6zO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aadc69cc-8005-410e-a2a3-fbec0778265c",
              "name": "sessionId",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "78e57aad-318c-4002-88ad-218d2ba808cf",
              "name": "from",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }} {{ $('Telegram Trigger').item.json.message.from.last_name }} ({{ $('Telegram Trigger').item.json.message.from.id }})",
              "type": "string"
            },
            {
              "id": "83db7957-87a4-4960-89ff-6d037b0f9cbb",
              "name": "query",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "33eea37c-f1a1-4963-b370-467b2f065b80",
              "name": "mode",
              "value": "text",
              "type": "string"
            },
            {
              "id": "f0f371ed-cbe5-45c4-b12a-5ca7b510fbf4",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        272
      ],
      "id": "66dc2e23-26d4-4b8c-bc13-b2ae948a49dd",
      "name": "Audio Telegram Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sGTaSgihnH44JKvz",
          "mode": "list",
          "cachedResultUrl": "/workflow/sGTaSgihnH44JKvz",
          "cachedResultName": "Lire Template"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Rename Keys').item.json.sessionId }}",
            "mode": "={{ $('Rename Keys').item.json.mode }}",
            "channel": "={{ $('Rename Keys').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        0
      ],
      "id": "6ff771c5-2b3d-47df-8125-ce80ff003d9d",
      "name": "Call 'Lire Template'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d9b69c8-8708-44a6-8761-d6881552b50a",
              "name": "model",
              "value": "google/gemini-2.5-flash",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "audioBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        272
      ],
      "id": "4298093c-87f3-4823-b3cb-9af6e2d2cf8f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CEQJCkrFe4vB1Vb8",
          "mode": "list",
          "cachedResultUrl": "/workflow/CEQJCkrFe4vB1Vb8",
          "cachedResultName": "Execute Command"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "={{ $('Rename Keys').item.json.channel }}",
            "sessionId": "={{ $('Rename Keys').item.json.sessionId }}",
            "mode": "={{ $('Rename Keys').item.json.mode }}",
            "command": "={{ $('Rename Keys').item.json.query }}",
            "fileId": "={{ $('Rename Keys1').item.json.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3216,
        -64
      ],
      "id": "3bf20c44-089c-464a-919d-ec8b613f796d",
      "name": "Call 'Execute Command'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c52d938-b411-4c35-828e-216131f60aad",
              "leftValue": "={{ $('Rename Keys').item.json.query }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2320,
        64
      ],
      "id": "78daa835-5c6c-4644-af65-41478af2fad6",
      "name": "Rename Keys1"
    }
  ],
  "pinData": {
    "Rename Keys": [
      {
        "json": {
          "sessionId": "675075831",
          "from": "Joe Doe (123456789)",
          "chatInput": "affiche mon bilan actuel",
          "mode": "text",
          "channel": "telegram"
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Family Office Manager": {
      "main": [
        [
          {
            "node": "Rename Keys3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Telegram Fields": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Chat Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Chat Fields": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Slack Fields": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger1": {
      "main": [
        [
          {
            "node": "Edit Slack Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Call 'Lire Template'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bilan": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Send Message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys3": {
      "main": [
        [
          {
            "node": "Call 'Send Message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notaire": {
      "ai_tool": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Expert_Immobilier": {
      "ai_tool": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lire_Bilan_Patrimonial": {
      "ai_tool": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fiscaliste": {
      "ai_tool": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conseiller_Investissements": {
      "ai_tool": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ingénieur_Patrimonial": {
      "ai_tool": [
        [
          {
            "node": "Family Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Telegram Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Audio": {
      "main": [
        [
          {
            "node": "Audio Telegram Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Telegram Fields": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Lire Template'": {
      "main": [
        [
          {
            "node": "Create Bilan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Transcript Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Execute Command'": {
      "main": [
        [
          {
            "node": "Call 'Send Message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "Call 'Execute Command'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Family Office Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "errorWorkflow": "5V46L7csAX91UXTG"
  },
  "versionId": "c8b4718e-1967-45b0-a175-4600cfc11e72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75335dac70fa104cdfa4e5bcad8ca1a7f24e416f2c27d9320d1d92c6508398a5"
  },
  "id": "um79LtvnjTgRZX5I",
  "tags": []
}