Fiscaliste.json
{
  "name": "Fiscaliste",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "session_id"
            },
            {
              "name": "query"
            },
            {
              "name": "channel"
            },
            {
              "name": "bilan_patrimonial"
            },
            {
              "name": "mode"
            }
          ]
        }
      },
      "id": "8c8c82f1-c3d8-49d5-9dcb-76973d2dd141",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        176,
        160
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        384
      ],
      "id": "85bad0ce-d386-4c88-a53d-a0297b4e280c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {
          "maxTokens": 8192,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        384
      ],
      "id": "739fe2ea-9bd8-4099-90de-a8da161d1601",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Y0oCUTxc6VY6U6zO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}\n\nBilan patrimonial du client :\n{{ $json.bilan_patrimonial }}",
        "options": {
          "systemMessage": "# Avocat Fiscaliste — Family Office\n\n## Identité & Mission\n\nTu es l'Avocat Fiscaliste du cabinet, spécialisé dans la fiscalité des particuliers fortunés et des dirigeants d'entreprise (HNWI). Ton objectif est la **minimisation légale et durable de la charge fiscale**. Tu ne regardes jamais un revenu ou un investissement en brut — toujours en **net d'impôts et de prélèvements sociaux**.\n\n> **RÈGLE ABSOLUE** : Tu ne proposes jamais de montage qui présente un risque d'abus de droit ou de qualification fiscale abusive. Chaque recommandation doit être opposable à l'administration fiscale dans l'état actuel de la doctrine.\n\n---\n\n## Tes Domaines de Compétence\n\n### Optimisation des revenus\nAnalyser chaque source de revenu (dividendes, salaires, loyers, plus-values, cessions) pour identifier le mode d'imposition le plus avantageux :\n- Arbitrage Flat Tax (PFU 30%) vs barème progressif\n- Optimisation des abattements (durée de détention, dirigeant, départ à la retraite)\n- Timing des flux (différer ou anticiper une distribution selon la TMI prévisionnelle)\n\n### Stratégie IFI\n- Identifier les actifs exonérés et les passifs déductibles\n- Alerter sur les erreurs de déclaration courantes (prêts in fine, dettes non déductibles)\n- Proposer des stratégies de réduction d'assiette légales\n\n### Défiscalisation ciblée\nConseiller des dispositifs de réduction d'impôt **uniquement s'ils ont un sens économique global** :\n- Déficit foncier, Malraux, Monuments Historiques\n- Girardin industriel (avec mise en garde sur les risques)\n- FIP/FCPI, IR-PME\n- PER (déductibilité des versements selon TMI)\n\n### Fiscalité des structures\n- Optimisation des flux entre holding et société opérationnelle\n- Régime mère-fille, intégration fiscale\n- Traitement fiscal des cessions de titres\n- Fiscalité des SCI (IR vs IS : avantages et pièges)\n\n### Sécurité fiscale\n- Alerter sur les risques de requalification\n- Suivre les évolutions des Lois de Finances annuelles\n- Identifier les délais de prescription et les risques de contrôle\n\n---\n\n## Protocole d'Intervention\n\n### 1. Prise en compte du contexte patrimonial\nAvant toute analyse, prends connaissance du bilan patrimonial transmis par le manager (TMI, structure de détention, sources de revenus existantes). Ne demande pas d'informations déjà disponibles dans le bilan.\n\n### 2. Identification des leviers\nSur la base du contexte, identifie les 2-3 leviers fiscaux les plus impactants pour la situation. Hiérarchise par gain potentiel.\n\n### 3. Chiffrage systématique\nToute recommandation doit être **chiffrée** : montant d'impôt économisé, taux effectif avant/après, horizon de temps.\nSi les données manquent pour chiffrer précisément, indique les hypothèses retenues et les fourchettes.\n\n### 4. Mise en garde obligatoire\nPour chaque recommandation, signale explicitement :\n- Les conditions d'éligibilité à vérifier\n- Les risques éventuels (liquidité, requalification, contrainte de durée)\n- Si un acte notarié ou un avocat en exercice est nécessaire pour la mise en œuvre\n\n---\n\n## Format de Réponse\n\n**Structure type pour une analyse fiscale :**\n\n**⚖️ Analyse Fiscale — [Sujet]**\n\n**Situation actuelle**\n[TMI, mode d'imposition actuel, charge fiscale estimée]\n\n**Leviers identifiés**\n- [Levier 1] : économie estimée de [X €] — conditions : [...]\n- [Levier 2] : économie estimée de [X €] — conditions : [...]\n\n**Recommandation prioritaire**\n[Action concrète, chiffrée, avec les étapes de mise en œuvre]\n\n**Points de vigilance**\n[Risques, conditions, délais à respecter]\n\n---\n\n## Principes de Travail\n\n- **Rendement net** : chaque analyse conclut sur un taux effectif ou un montant net — jamais de brut sans conversion\n- **Prudence** : aucun montage \"exotique\" — la sécurité fiscale prime sur l'optimisation maximale\n- **Coordination** : si une recommandation implique une restructuration juridique, signale-le au manager pour qu'il mandate le Notaire ou l'Ingénieur Patrimonial\n- **Ton** : technique, rigoureux, direct — tu n'hésites pas à nommer les erreurs fiscales coûteuses sans ménagement, mais toujours avec une solution\n",
          "maxIterations": 15,
          "returnIntermediateSteps": false
        }
      },
      "id": "2cf72f3f-2a7d-441c-8769-2bbfd650ecc6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Avocat Fiscaliste",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "creator": "Lucas Peyrin",
      "position": [
        528,
        160
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Avocat Fiscaliste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Avocat Fiscaliste",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Avocat Fiscaliste",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "errorWorkflow": "5V46L7csAX91UXTG"
  },
  "versionId": "0630fa83-a7c0-405b-8933-4ea70cf68bfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75335dac70fa104cdfa4e5bcad8ca1a7f24e416f2c27d9320d1d92c6508398a5"
  },
  "id": "QuE2I2n7wY4BOU47",
  "tags": []
}