workflows/Get_Bilan_Id.json
{
  "name": "Get_Bilan_Id",
  "nodes": [
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "id": "f6ed86f0-9b94-4c2e-ad51-467e6acd272d",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        192
      ],
      "id": "4cc50570-4e9f-43c3-bb12-ad837f9851c2",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6be729ab-fb9c-40fe-a9ee-a4e41aa1119d",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "fileContent": "={{ $json.data }}",
        "name": "={{ $('Start').item.json.sessionId }}.md",
        "options": {}
      },
      "name": "Create Bilan",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "id": "f1831ed5-789b-4beb-b95b-5714e2b5c64a",
      "position": [
        432,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4YnA7yrrAHy91dF0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Syx31B3HTrMnE2hp",
          "mode": "list",
          "cachedResultName": "bilan_id_map",
          "cachedResultUrl": "/projects/3FWIAGM5hOTmmrs7/datatables/Syx31B3HTrMnE2hp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "session_id": "={{ $('Start').item.json.sessionId }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        0
      ],
      "id": "2f923742-a0ea-4333-a2ba-c04b8f9939a4",
      "name": "Insert row"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sGTaSgihnH44JKvz",
          "mode": "list",
          "cachedResultUrl": "/workflow/sGTaSgihnH44JKvz",
          "cachedResultName": "Lire Template"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Start').item.json.sessionId }}",
            "mode": "={{ $('Start').item.json.mode }}",
            "channel": "={{ $('Start').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "bda0fb7f-b77b-4ac3-a851-2d1562e113e8",
      "name": "Call 'Lire Template'"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mode"
            },
            {
              "name": "channel"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        96
      ],
      "id": "e01ef872-fb43-4bcc-9c3a-4f8f56f4390f",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6dde9f44-8ae2-4fac-b3a7-8a878f883dc1",
              "name": "channel",
              "value": "={{ $('Start').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "fcec63a4-98c2-438a-b5e3-2f2d1fc23ea3",
              "name": "mode",
              "value": "={{ $('Start').item.json.mode }}",
              "type": "string"
            },
            {
              "id": "366337ad-3ead-45cb-afa1-1138b622f423",
              "name": "sessionId",
              "value": "={{ $('Start').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "8d8357bb-360b-4d06-b4ed-a9555635e5dd",
              "name": "fileId",
              "value": "={{ $json.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        96
      ],
      "id": "01edda92-0c69-47c7-ac05-75e48af6c56a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "mode": "text",
          "channel": "telegram",
          "sessionId": "7996903952"
        }
      }
    ]
  },
  "connections": {
    "If row exists": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Call 'Lire Template'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bilan": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Lire Template'": {
      "main": [
        [
          {
            "node": "Create Bilan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "5V46L7csAX91UXTG",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dabfa12f-7c40-41c5-9df9-9d40d6ea8c98",
  "meta": {
    "instanceId": "75335dac70fa104cdfa4e5bcad8ca1a7f24e416f2c27d9320d1d92c6508398a5"
  },
  "id": "5VQuw5pCz46ezUmh",
  "tags": []
}