workflows/Lire Template.json
{
  "name": "Lire Template",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "mode"
            },
            {
              "name": "channel"
            }
          ]
        }
      },
      "id": "237cf48b-c099-4946-95bd-13cb3bd36a94",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        304,
        432
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files/17BbXN_utaNG4kBOufzCwUi5AKEGPZ_N3?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        432
      ],
      "id": "b9307c48-6951-4444-9b69-04b3dad79537",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4YnA7yrrAHy91dF0",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "adZfi8AJiWVXwWw4",
          "mode": "list",
          "cachedResultUrl": "/workflow/adZfi8AJiWVXwWw4",
          "cachedResultName": "Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $json.error.message }}",
            "sessionId": "={{ $('Start').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "app",
              "displayName": "app",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        752,
        496
      ],
      "id": "8632b7bb-4795-4f15-b002-27d1421717f8",
      "name": "Call 'Send Message'"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "message",
              "newKey": "error"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        976,
        416
      ],
      "id": "4f6137f7-7ed0-4f20-a78e-38a956265fc2",
      "name": "Rename Keys"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "sessionId": "675075831",
          "channel": "telegram",
          "mode": "text"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Send Message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Send Message'": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 5,
    "errorWorkflow": "5V46L7csAX91UXTG"
  },
  "versionId": "3d5988dc-7540-4c49-9994-bb0c6b8fc3f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75335dac70fa104cdfa4e5bcad8ca1a7f24e416f2c27d9320d1d92c6508398a5"
  },
  "id": "sGTaSgihnH44JKvz",
  "tags": []
}